<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript">
    <title>{{ title }}</title>
</head>

<body>
  <header style="background-color:#6f5499;height: 100px;color: #fff;">
      header top main
  </header>
  {% block main %} {% endblock %}
  <footer style="background-color:#ddd; padding: 20px 0;text-align: center;color: #666;">
      copy right @2019
  </footer>
</body>

</html>